<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button size="default" slot="end" [routerLink]="['/carro']" color="light" slot="end">
      <ion-icon slot="icon-only" name="cart"></ion-icon>
      <ion-badge *ngIf="carroCount > 0" color="danger"> {{ carroCount }}</ion-badge>
    </ion-button>
    <ion-title>Detalles</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="detalles">
  <ion-toolbar>
    <ion-card color="secondary">
      <ion-card-header>
        <ion-card-title>{{ detalles.title }}</ion-card-title>
      </ion-card-header>
      <img [src]="detalles.image">
      <ion-card-content color="secondary">
        <p>Category: {{ detalles.category }}</p>
        <p>Price: {{ detalles.price | currency:'USD'}}</p>
        <br>
        <p>Description: </p>
        <p>{{ detalles.description }}</p>
        <br>
        <p>Bought: {{ detalles.rating.count }}+</p>
        <p>Rating: {{ detalles.rating.rate }}</p>
        <ion-button color="light" (click)="agregarCarro(detalles)">Agregar</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-content>