<ion-header *ngIf="!logo" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Store
    </ion-title>
      <ion-button [routerLink]="['/carro']" slot="end">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
        <ion-badge *ngIf="countCart > 0" color="danger"> {{ countCart }}</ion-badge>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="logo" class="splash-screen">
    <img src="/assets/Carrito/carrito.gif">
  </div>

  <div *ngIf="!logo">
    <app-asc (ascSelect)="ascOdenar = $event"></app-asc>
    <app-categoria (categorySelected)="categoriaSelect = $event"></app-categoria>
    <app-productos [categoriaSelect]="categoriaSelect" [ascDesc]="ascOdenar"></app-productos>
  </div>
</ion-content>
